@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=League+Spartan:wght@400;700&display=swap');
body{
	font-family: 'Inter', sans-serif ;
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #1D1D1D ;
}
a{
	font-weight: 600;
	text-decoration: none;
	color: #FFFFFF;

}
ul{
	list-style: none;
}
.nav{
	width: 100%;
	height: 100%;
	margin-top: 63px;
	margin-bottom: 72px;
}
.nav__logo{
	width: 145px;
	height: 30px;
	/*max-width: 15%;
	flex: 1;*/
}
.nav__button{
	font-weight: 600;
	font-size: 16px;
	line-height: 19.36px;
	text-align: center;
	border: solid 2px;
	border-color: #FFFFFF;

	padding: 14px 35px 14px 35px;


}
.nav__list{
	cursor: default;
	max-width: auto;
	height: 47px;
}
.nav__item{
	display: inline-block;
	position: relative;
	z-index: 1;
	margin: 0px 15px 0px 15px;
}
.nav__link{
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	height: 47px;
	padding: 0 8px;
}


/****************************header********************************************************************/
.header{
	width: 100%;
	height: 100%;
	margin-bottom: 392px;
}
.header__block_text{
	flex: 2;
	width: 50%;
	margin: 0px 40px 0px 0px;
}
.header__block_img{
	flex: 1;
	width: 50%;
	margin: 0px 0px 0px 40px;
}
.header__title{
	font-size: 66px;
	font-weight: 500;
	line-height: 97.37px;
	margin: 0px 0px 36px 0px ;
}
.header__title_ext{
	font-weight: 700;
}
.header__text{
	font-size: 18px;
	font-weight: 500;
	line-height: 29.25px;
	margin: 0px 0px 36px 0px ;
}
.header__form{
	position: relative;
	width: 438px;
	height: 74px;
	z-index: 1;
}
.header__form_image{
	position: absolute;
	left: 25px;
	right: 15px;
	top: 25px;
	bottom: 26px;

	opacity: 0.1;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.header__email_inp{
	position: absolute;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	text-align: left;
	background: #FFFFFF;
	border-radius: 43px;
	opacity: 0.1;
	border: none;
	width: 100%;
	height: 100%;
	padding: 0px 186px 0px 62px;
	z-index: 2;
}
.header__form_button{
	position: absolute;
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	text-align: center;
	background: #E3B748;
	border-radius: 43px;
	border: none;
	width: 137px;
	height: 62px;
	top: 6px;
	bottom: 6px;
	left: 290px;

	z-index: 3;

}
.header__image{
	max-width: 477;
	max-height: 544;
}

/********************************info***********************************************/
.introduction{
	width: 100%;
	height: 100%;
	margin-bottom: 186px;

}
.introduction__title{
	font-size: 54px;
	font-weight: 600;
	line-height: 87.22px;
	flex: 1;
	width: 50%;
	height: auto;
	margin: 0px 171px 0px 0px;
}
.introduction__block{
	border-left:solid 1px ;
	border-color: #6A6A6A;
	flex: 1;
	width: 50%;
	height: auto;
	padding: 0px 0px 0px 87px;
}
.introduction__text_1{
	font-size: 32px;
	font-weight: 600;
	line-height: 52.01px;
	color: #FFFFFF;
	
}

.introduction__text_2{
	font-size: 18px;
	font-weight: 500;
	line-height: 29.25px;
	opacity: 0.3;
}

/*******************************************************wcu section*****************************/
.wcu{
	width: 100%;
	height: 100%;
	margin-bottom: 179px;
}

.wcu__title{
	font-size: 54px;
	font-weight: 600;
	line-height: 77.23px;
	flex: 1;
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 97px;
}
.wcu__block{
		

	width: 30%;
	min-width: 250px;
	padding: 28px 43px 36px 23px;
	margin: 10px 10px 10px 10px;
	border: 1.4px solid rgba(255, 255, 255, 0.1);
	border-radius: 14px;

}
.wcu__block_img{
	margin-bottom: 28px;
}
.wcu__block_title{
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 26px;
}
.wcu__block_text{
	font-size: 14px;
	font-weight: 500;
	line-height: 22.75px;
	opacity: 0.3;
	margin-bottom: 22px;

}
.wcu__block_link{
	font-size: 14px;
	font-weight: 600;
	line-height: 22.75px;
	color: #000000;
	background: #E3B748;
	border-radius: 23.5px;
	padding: 10px 24px 10px 24px;

}


/***********************************************practice section*******************************/
.practice{
	width: 100%;
	margin-bottom: 186px;
	}
.practice__block{
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px ;
}

.practice__block:nth-child(2),.practice__block:nth-child(3),.practice__block:nth-child(6){
	position: relative;
	flex: 0 0 33.3%;
	max-width: 33.3%;
}

.practice__block:nth-child(1),.practice__block:nth-child(4),.practice__block:nth-child(5){
	position: relative;
	flex: 0 0 66.6%;
	max-width: 66.6%;
}

.practice__title{
	font-size: 54px;
	font-weight: 600;
	line-height: 77.23px;
	text-align: center;
	width: 100%;
	margin-bottom: 65px;
}

.practice__text{
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
	color: #FFFBF2;
	position: relative;
	z-index: 2;
	bottom: 41px;
	text-align: center;
	
}
.practice__image{
	max-width: 100%;
}
/**********************************************feedback*******************************/


.feedback{
	width: 100%;
	height: auto;
	margin-bottom: 186px;
}
.feedback__title{
	font-size: 54px;
	font-weight: 600;
	line-height: 77.23px;
	margin-bottom: 104px;
}
.feedback__block{
	width: 30%;
	min-width: 300px;
	padding: 40px 40px 40px 26px;
	border: 1.4px solid rgba(255, 255, 255, 0.1);
	border-radius: 14px;
	margin-right: 22px;
	margin-bottom: 22px;
}
.feedback__blocks div:nth-child(2){
	background-color: #2E2E2E;
}
.feedback__blocks div:last-child{
	margin: none;
}
.feedback__block_image{
	max-width: 105px;
	max-height: 102px;
	margin-bottom: 20px;
}
.feedback__block_name{
	 font-size: 24px;
	 font-weight: 600;
	 line-height: 24px;
	 margin-bottom: 10px;
}
.feedback__block_position{
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 22px;
}
.feedback__block_text{
	font-size: 14px;
	font-weight: 500;
	line-height: 22.75px;
	opacity: 0.3;
}

/**************************************team*******************************************/
.team{
	width: 100%;
	height: auto;
	margin-bottom: 149px;
}
.team__title{
	font-size: 54px;
	font-weight: 600;
	line-height: 77.23px;
	text-align: center;
	margin-bottom: 109px;
}
.team_blocks{}

.team_blocks_1 .team__block:nth-child(2){
	margin-right:53px;
	margin-left: 53px;
	background-color: #E3B748;
	color: #373737;
	
}
.team_blocks_2 .team__block:nth-child(2){
	margin-right:53px;
	margin-left: 53px;
	
	
}
.team__block{
	flex: 1;
	width: 30%;
	border-radius: 14px;
	padding: 18px 23px 23px 26px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.team__block_image{
	flex: 1;
	max-width: 68px;
	margin-right: 20px;
}
.team__block_text{
	flex: 1;
	width: 50%;
}
.team__block_name{
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 6px;
}
.team__block_cases{
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	opacity: 0.3;
}


/************************************footer*********************************************/

.footer{
	background-color: #171717;
	width: 100%;
	padding: 91px 0px 91px 0px;
}
.footer__block{
	margin-bottom: 100px;
}
.footer__nav_link{
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
}
.footer__links_list-social{
	
}
.footer__links_list-social li{
	margin-right: 23px;
}
.footer__links_list-social li:last-child{
	margin-right: none;	
}
.footer__social_image{
	max-width: 30px;
	height: 30px;
}

.footer__privacy{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 0px 21px 0px 21px;
}
.footer__privacy_link{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 0px 21px 0px 21px;
}


@media (max-width: 1100px){
	.feedback__block{
		width: 100%;
	}
}
@media (max-width: 1000px){
	.wcu__block_text{
		white-space: nowrap;
	    overflow: hidden;
    	text-overflow: ellipsis;
	}
	.practice__block:nth-child(1), .practice__block:nth-child(4), .practice__block:nth-child(5){
		position: relative;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.practice__block:nth-child(2), .practice__block:nth-child(3), .practice__block:nth-child(6){
		flex: 0 0 100%;
		max-width: 100%;
	}
	.feedback__block_text{
		white-space: nowrap;
	    overflow: hidden;
    	text-overflow: ellipsis;

	}

}